<div class="contact">
  <div class="contact--lockup">
    <div class="modal">
      <div class="modal--information">
        <!-- <p>Pawia 5, 31-154 Kraków, Poland</p> -->
        <p>107Rue Al Bakri,residence niama 3</p>
        <a href="mailto:ouremail@gmail.com">goldenlens@gmail.com</a>
        <a href="tel:+148126287560">+212 25506545</a>
      </div>
      <ul class="modal--options">
        <li>
          <a href="https://maps.app.goo.gl/1DTRhXq76gXxQqYRA" target="_blank"
            >Google maps</a
          >
        </li>
        <!-- <li><a href="#0">dribbble</a></li> -->
        <li>
          <a href="mailto:goldenlens@gmail.com" target="_blank">Mail Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>
