<div class="intro">
  <div class="intro--banner">
    <h1>
      Your next
      <br />
      memorable
      <br />
      moment,
      <br />
      <span class="cptr">captured perfectly. </span>
    </h1>
    <button class="cta">
      Meet Us
      <svg
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 150 118"
        style="enable-background: new 0 0 150 118"
        xml:space="preserve"
      >
        <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
          <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
        </g>
      </svg>
      <span class="btn-background"></span>
    </button>

    <img src="images/photograph1.png" class="photograph1" alt="Welcome" />
    <img
      src="images/flash_light_.png"
      class="flash_light_"
      id="rocher"
      alt="Welcome"
    />
  </div>
  <div class="intro--options">
    <a href="#0" class="option">
      <h3>Préservez vos souvenirs</h3>
      <p>
        Chaque instant de la vie est éphémère, mais avec une photographie et une
        vidéographie professionnelles, vous pouvez capturer des souvenirs qui
        durent toute une vie. Laissez-nous vous aider à raconter votre histoire
        unique, magnifiquement figée dans le temps.
      </p>
    </a>
    <a href="#0" class="option">
      <h3>Transformez vos moments en art</h3>
      <p>
        Une photographie n'est pas simplement une image, c'est une œuvre d'art
        qui exprime vos émotions. Faites-nous confiance pour transformer votre
        journée spéciale en pièces intemporelles de narration visuelle.
      </p>
    </a>
    <a href="#0" class="option">
      <h3>Immortalisez chaque détail</h3>
      <p>
        Qu'il s'agisse des rires, des larmes ou des moments plus intimes, notre
        équipe d'experts veille à ce que chaque détail de votre mariage ou
        événement soit capturé, créant ainsi un souvenir vivant de vos moments
        les plus précieux.
      </p>
    </a>
  </div>
</div>;
