<div class="hire">
  <style>
    .grid {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      flex-wrap: nowrap;
      margin-bottom: 20px;
    }
    .card {
      width: 300px;
      min-width: 300px;
      height: 250px;
    }
  </style>

  <section>
    <div class="grid">
      <div class="card" id="consulter1">
        <span class="icon">
          <svg
            width="40px"
            height="40px"
            viewBox="0 0 80 80"
            fill="none"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            >
            <title>Face ID</title>
            <g id="Face-ID" fill="currentColor" stroke="none">
              <!-- Left Eye -->
              <g
                id="Eye"
                transform="translate(21.754386, 28.070175)"
                fill="currentColor"
                stroke="none"
              >
                <path
                  d="M0,2.14285714 L0,7.86037654 C0,9.04384386 0.8954305,10.0032337 2,10.0032337 C3.1045695,10.0032337 4,9.04384386 4,7.86037654 L4,2.14285714 C4,0.959389822 3.1045695,0 2,0 C0.8954305,0 0,0.959389822 0,2.14285714 Z"
                  id="Left-Eye"
                  fill="currentColor"
                  stroke="none"
                ></path>
              </g>
              <!-- Right Eye -->
              <g
                id="Eye"
                transform="translate(54.736842, 28.070175)"
                fill-rule="nonzero"
                fill="currentColor"
                stroke="none"
              >
                <path
                  d="M0,2.14285714 L0,7.86037654 C0,9.04384386 0.8954305,10.0032337 2,10.0032337 C3.1045695,10.0032337 4,9.04384386 4,7.86037654 L4,2.14285714 C4,0.959389822 3.1045695,0 2,0 C0.8954305,0 0,0.959389822 0,2.14285714 Z"
                  id="Right-Eye"
                  fill="currentColor"
                  stroke="none"
                ></path>
              </g>
              <!-- Nose -->
              <path
                d="M40,30.1754386 L40,44.9122807 C40,45.85537 39.539042,46.3157895 38.5912711,46.3157895 L37.1929825,46.3157895 C36.0302777,46.3157895 35.0877193,47.2583479 35.0877193,48.4210526 C35.0877193,49.5837574 36.0302777,50.5263158 37.1929825,50.5263158 L38.5912711,50.5263158 C41.8633505,50.5263158 44.2105263,48.1818819 44.2105263,44.9122807 L44.2105263,30.1754386 C44.2105263,29.0127339 43.2679679,28.0701754 42.1052632,28.0701754 C40.9425584,28.0701754 40,29.0127339 40,30.1754386 Z"
                id="Nose"
                fill="currentColor"
                stroke="none"
                fill-rule="nonzero"
              ></path>
              <!-- Mouth (Lowered) -->
              <path
                d="M25,58 C30,63 50,63 55,58"
                id="Mouth"
                stroke-width="2"
                fill="currentColor"
                stroke="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </span>
        <h4>Photos identité</h4>
        <p>
          Séance professionnelle pour des photos d'identité conformes aux
          normes, idéales pour vos documents officiels, cartes d'identité,
          passeports ou CV.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
      <div class="card" id="consulter2">
        <span class="icon">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 8C9.243 8 7 10.243 7 13C7 15.757 9.243 18 12 18C14.757 18 17 15.757 17 13C17 10.243 14.757 8 12 8Z"
            />
            <path
              d="M4.92893 6.92893L5.29289 6.56417C5.68342 6.17364 6.31658 6.17364 6.70711 6.56417L8.70711 8.56417C9.09763 8.95469 9.09763 9.58785 8.70711 9.97838L7.70711 10.9784C7.31658 11.3689 6.68342 11.3689 6.29289 10.9784L4.29289 8.97838C3.90237 8.58785 3.90237 7.95469 4.29289 7.56417L4.92893 6.92893Z"
            />
            <path
              d="M19.0711 6.92893L18.7071 6.56417C18.3166 6.17364 17.6834 6.17364 17.2929 6.56417L15.2929 8.56417C14.9024 8.95469 14.9024 9.58785 15.2929 9.97838L16.2929 10.9784C16.6834 11.3689 17.3166 11.3689 17.7071 10.9784L19.7071 8.97838C20.0976 8.58785 20.0976 7.95469 19.7071 7.56417L19.0711 6.92893Z"
            />
            <path
              d="M21 6H17.5L15.5 3H8.5L6.5 6H3C2.44772 6 2 6.44772 2 7V17C2 17.5523 2.44772 18 3 18H21C21.5523 18 22 17.5523 22 17V7C22 6.44772 21.5523 6 21 6Z"
            />
          </svg>
        </span>
        <h4>Shooting model</h4>
        <p>
          Des portraits professionnels et créatifs, idéaux pour les portfolios
          et les agences, mettant en valeur les traits du modèle.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
      <div class="card" id="consulter3">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="40px"
            height="40px"
          >
            <path
              d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
            ></path>
            <path
              d="M6 18C6 15.7909 7.79086 14 10 14C12.2091 14 14 15.7909 14 18"
            ></path>
            <path
              d="M18 18C18 15.7909 16.2091 14 14 14C11.7909 14 10 15.7909 10 18"
            ></path>
            <path
              d="M16 22H8C7.44772 22 7 21.5523 7 21V19C7 18.4477 7.44772 18 8 18H16C16.5523 18 17 18.4477 17 19V21C17 21.5523 16.5523 22 16 22Z"
            ></path>
          </svg>
        </span>
        <h4>Shooting famille</h4>
        <p>
          Immortalisez les moments précieux en famille avec une séance photo
          naturelle et conviviale, idéale pour créer des souvenirs durables et
          uniques.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="card" id="consulter4">
        <span class="icon">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="40px"
            height="40px"
          >
            <circle cx="12" cy="12" r="9" />
            <circle cx="12" cy="12" r="4" />
            <line x1="12" y1="4" x2="12" y2="8" />
            <line x1="12" y1="16" x2="12" y2="20" />
            <line x1="8" y1="12" x2="4" y2="12" />
            <line x1="16" y1="12" x2="20" y2="12" />
          </svg>
        </span>
        <h4>Shooting objet</h4>
        <p>
          Capturer les détails et l'essence de vos objets avec des photos
          précises et professionnelles, idéales pour la mise en valeur de
          produits ou d'articles uniques.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
      <div class="card" id="consulter5">
        <span class="icon">
          <svg
            version="1.0"
            width="40px"
            height="40px"
            viewBox="0 0 512.000000 512.000000"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
              fill="currentColor"
              stroke="none"
              id="fifthobjsvg"
            >
              <path
                d="M1578 4939 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 31 -16
59 -20 130 -20 l90 0 0 -150 0 -150 450 0 450 0 0 150 0 150 90 0 c71 0 99 4
130 20 45 23 80 80 80 130 0 50 -35 107 -80 130 -38 19 -57 20 -672 20 -610
-1 -634 -2 -670 -21z"
              />
              <path
                d="M3945 4346 c-83 -20 -146 -56 -211 -120 -65 -66 -105 -137 -123 -224
-15 -74 -15 -1310 0 -1384 36 -172 175 -311 347 -347 35 -7 222 -11 548 -11
476 0 496 1 534 20 26 13 47 34 60 60 20 38 20 57 20 970 0 913 0 932 -20 970
-13 26 -34 47 -60 60 -38 19 -57 20 -542 19 -360 0 -517 -4 -553 -13z"
              />
              <path
                d="M78 4039 c-23 -12 -46 -35 -58 -59 -19 -38 -20 -58 -20 -670 0 -612
1 -632 20 -670 23 -45 80 -80 130 -80 50 0 107 35 130 80 16 31 20 59 20 130
l0 90 150 0 150 0 0 450 0 450 -150 0 -150 0 0 90 c0 112 -20 159 -80 190 -49
25 -94 25 -142 -1z"
              />
              <path
                d="M1245 4046 c-84 -21 -147 -57 -211 -121 -65 -65 -105 -136 -123 -223
-15 -72 -15 -713 0 -784 37 -172 175 -310 347 -347 34 -7 191 -11 447 -11
l395 0 0 -313 0 -314 -52 -24 c-108 -50 -207 -179 -238 -308 -15 -64 -8 -165
16 -235 l17 -48 -456 -457 c-250 -251 -462 -470 -471 -488 -61 -122 75 -258
197 -197 18 9 237 221 488 471 389 388 459 454 478 448 21 -6 21 -7 21 -411 0
-386 1 -407 20 -444 23 -45 80 -80 130 -80 50 0 107 35 130 80 19 37 20 58 20
444 0 404 0 405 21 411 19 6 89 -60 478 -448 251 -250 470 -462 488 -471 122
-61 258 75 197 197 -9 18 -221 237 -471 488 l-456 457 17 48 c24 70 31 171 16
235 -31 129 -130 258 -238 308 l-52 24 0 314 0 313 453 0 452 0 0 750 0 750
-1005 -1 c-769 -1 -1017 -4 -1055 -13z"
              />
            </g>
          </svg>
        </span>
        <h4>shooting événementiel</h4>
        <p>
          Immortalisez chaque moment clé de vos événements avec des photos
          professionnelles qui capturent l’émotion, l’ambiance et les souvenirs
          inoubliables.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
      <div class="card" id="consulter6">
        <span class="icon">
          <svg
            version="1.1"
            fill="currentColor"
            stroke="none"
            viewBox="0 0 2048 2048"
            width="512"
            height="512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="currentColor"
              stroke="none"
              transform="translate(892,247)"
              d="m0 0h67l2 2v717l-1 121h838l3 3-1 92-2 37-4 40-6 42-8 41-9 38-9 31-14 43-16 41-17 38-20 40-6 10-6 11-12 21-22 34-14 20-12 17-13 16-10 13-11 13-9 11-13 14-7 8-11 11-1 2h-2l-2 4-14 14h-2v2h-2v2l-8 7-9 9-8 7-10 9-11 9-14 12-9 7-14 11-18 13-20 14-15 10-24 15-17 10-23 13-29 15-23 11-37 16-38 14-40 13-41 11-39 9-47 8-57 7-17 2h-126v-1l-49-6-28-4-34-6-48-11-45-13-44-15-28-11-43-19-36-18-23-13-22-13-22-14-15-10-20-14-19-14-16-13-9-7-26-22-26-24-7-7-8-7-8-8v-2h-2l-7-8-9-9-7-8-11-12-9-11-12-14-11-14-10-13-13-18-16-23-14-22-10-16-12-21-10-18-18-36-12-26-15-37-11-30-13-42-11-42-8-37-8-51-4-33-2-22-1-5v-122l3-25 6-48 7-41 9-40 11-41 12-38 13-35 12-29 13-29 10-19 11-22 14-24 8-14 9-14 15-23 16-23 14-19 10-12 10-13 11-13 9-10 9-11 9-9 7-8 35-35 8-7 7-7 11-9 11-10 11-9 15-12 13-10 18-13 20-14 20-13 19-12 21-12 23-13 42-21 30-13 28-11 27-10 38-12 42-11 41-9 42-7 33-4 36-3zm-54 123-68 9-26 5-44 10-27 8-36 12-19 7-30 13-25 11-16 8-24 13-23 13-16 10-24 16-23 16-10 8-16 13-11 9-16 13-13 12-47 47-9 11-24 28-11 14-36 51-9 15-15 26-13 23-13 27-13 29-9 22-10 29-10 30-15 60-5 27-7 49-2 22-2 39v61l3 39 7 49 6 35 9 36 10 37 20 55 10 24 22 45 8 16 10 17 13 21 11 18 11 16 10 13 14 19 14 18 11 12 9 10 11 12 18 20 9 9 8 7 10 9 13 12 10 9 16 13 19 14 21 16 13 9 23 14 26 16 18 10 22 11 23 11 22 10 63 23 29 8 48 12 35 6 42 6 35 3 18 1h45l55-3 33-4 45-7 42-10 31-8 30-10 39-14 35-16 28-13 24-13 41-24 17-12 20-14 14-10 13-10 15-13 11-9 10-9 11-9 34-34v-2h2v-2h2v-2h2l7-8 7-7 8-10 14-17 9-11 13-16 7-11 19-28 10-15 8-13 6-12 13-23 11-21 17-39 10-24 12-36 10-31 12-51 5-25 5-37 4-32-1-4-836-1-1-837z"
            />
            <path
              fill="currentColor"
              stroke="none"
              transform="translate(1087)"
              d="m0 0h130v1l60 7 42 7 42 9 41 11 44 14 32 12 24 10 27 12 21 10 19 10 24 13 22 13 22 14 15 10 20 14 15 11 18 14 16 13 11 9 11 10 8 7 10 9 9 9 8 7 20 20v2h2l7 8 7 7 7 8 24 28 22 28 14 19 11 16 12 18 14 22 10 17 13 23 14 27 16 33 13 31 14 37 13 40 13 48 9 42 7 44 6 51 2 2v133h-960l-1-1zm122 123-1 48v668l6 1h707l4-1-4-36-5-36-10-48-7-28-17-54-15-37-11-26-19-38-12-22-8-14-13-20-12-19-12-17-14-18-13-17-9-11-11-12-1-2h-2l-2-4-15-16-11-12-16-16-8-7-14-13-8-7-10-9-12-9-26-20-15-11-20-13-22-14-18-11-33-17-19-10-20-9-46-19-57-18-23-6-47-10-25-4-48-6z"
              fill="#010101"
            />
          </svg>
        </span>
        <h4>autre...</h4>
        <p>
          Que ce soit pour un projet unique, une idée spéciale ou un besoin
          particulier, on propose également des séances personnalisées adaptées
          à vos attentes.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
    </div>
  </section>
</div>
