<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoldenLens | Services</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- www.bytewebster.com -->
    <!-- www.bytewebster.com -->
    <!-- www.bytewebster.com -->
  </head>
  <body>
    <!-- START SECTION SERVICES -->
    <section class="section-services">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-8">
            <div class="header-section">
              <h2 class="title">Nos Services</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" id="photoIdent">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <!-- <i class="fas fa-laptop-code"></i> -->
                  <svg
                    width="40px"
                    height="40px"
                    viewBox="0 0 80 80"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                    <title>Face ID</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g id="Face-ID" fill="#ffffff">
                        <g>
                          <g>
                            <g id="Corners" fill-rule="nonzero">
                              <g id="Corner">
                                <path
                                  d="M4.11428571,21.9428571 L4.11428571,13.0285714 C4.11428571,7.99327149 7.99327149,4.11428571 13.0285714,4.11428571 L21.9428571,4.11428571 C23.0789858,4.11428571 24,3.19327149 24,2.05714286 C24,0.921014229 23.0789858,0 21.9428571,0 L13.0285714,0 C5.72101423,0 0,5.72101423 0,13.0285714 L0,21.9428571 C0,23.0789858 0.921014229,24 2.05714286,24 C3.19327149,24 4.11428571,23.0789858 4.11428571,21.9428571 Z"
                                ></path>
                              </g>
                              <g
                                id="Corner"
                                transform="translate(68.070175, 11.929825) scale(-1, 1) translate(-68.070175, -11.929825) translate(56.140351, 0.000000)"
                              >
                                <path
                                  d="M4.11428571,21.9428571 L4.11428571,13.0285714 C4.11428571,7.99327149 7.99327149,4.11428571 13.0285714,4.11428571 L21.9428571,4.11428571 C23.0789858,4.11428571 24,3.19327149 24,2.05714286 C24,0.921014229 23.0789858,0 21.9428571,0 L13.0285714,0 C5.72101423,0 0,5.72101423 0,13.0285714 L0,21.9428571 C0,23.0789858 0.921014229,24 2.05714286,24 C3.19327149,24 4.11428571,23.0789858 4.11428571,21.9428571 Z"
                                ></path>
                              </g>
                              <g
                                id="Corner"
                                transform="translate(11.929825, 68.070175) scale(1, -1) translate(-11.929825, -68.070175) translate(0.000000, 56.140351)"
                              >
                                <path
                                  d="M4.11428571,21.9428571 L4.11428571,13.0285714 C4.11428571,7.99327149 7.99327149,4.11428571 13.0285714,4.11428571 L21.9428571,4.11428571 C23.0789858,4.11428571 24,3.19327149 24,2.05714286 C24,0.921014229 23.0789858,0 21.9428571,0 L13.0285714,0 C5.72101423,0 0,5.72101423 0,13.0285714 L0,21.9428571 C0,23.0789858 0.921014229,24 2.05714286,24 C3.19327149,24 4.11428571,23.0789858 4.11428571,21.9428571 Z"
                                ></path>
                              </g>
                              <g
                                id="Corner"
                                transform="translate(68.070175, 68.070175) scale(-1, -1) translate(-68.070175, -68.070175) translate(56.140351, 56.140351)"
                              >
                                <path
                                  d="M4.11428571,21.9428571 L4.11428571,13.0285714 C4.11428571,7.99327149 7.99327149,4.11428571 13.0285714,4.11428571 L21.9428571,4.11428571 C23.0789858,4.11428571 24,3.19327149 24,2.05714286 C24,0.921014229 23.0789858,0 21.9428571,0 L13.0285714,0 C5.72101423,0 0,5.72101423 0,13.0285714 L0,21.9428571 C0,23.0789858 0.921014229,24 2.05714286,24 C3.19327149,24 4.11428571,23.0789858 4.11428571,21.9428571 Z"
                                ></path>
                              </g>
                            </g>
                            <g
                              id="Eye"
                              transform="translate(21.754386, 28.070175)"
                              fill-rule="nonzero"
                            >
                              <path
                                d="M0,2.14285714 L0,7.86037654 C0,9.04384386 0.8954305,10.0032337 2,10.0032337 C3.1045695,10.0032337 4,9.04384386 4,7.86037654 L4,2.14285714 C4,0.959389822 3.1045695,0 2,0 C0.8954305,0 0,0.959389822 0,2.14285714 Z"
                                id="Path"
                              ></path>
                            </g>
                            <g
                              id="Eye"
                              transform="translate(54.736842, 28.070175)"
                              fill-rule="nonzero"
                            >
                              <path
                                d="M0,2.14285714 L0,7.86037654 C0,9.04384386 0.8954305,10.0032337 2,10.0032337 C3.1045695,10.0032337 4,9.04384386 4,7.86037654 L4,2.14285714 C4,0.959389822 3.1045695,0 2,0 C0.8954305,0 0,0.959389822 0,2.14285714 Z"
                                id="Path"
                              ></path>
                            </g>
                            <path
                              d="M25.9319616,59.0829234 C29.8331111,62.7239962 34.5578726,64.5614035 40,64.5614035 C45.4421274,64.5614035 50.1668889,62.7239962 54.0680384,59.0829234 C54.9180398,58.2895887 54.9639773,56.9574016 54.1706427,56.1074002 C53.377308,55.2573988 52.0451209,55.2114613 51.1951195,56.0047959 C48.0787251,58.9134307 44.382434,60.3508772 40,60.3508772 C35.617566,60.3508772 31.9212749,58.9134307 28.8048805,56.0047959 C27.9548791,55.2114613 26.622692,55.2573988 25.8293573,56.1074002 C25.0360227,56.9574016 25.0819602,58.2895887 25.9319616,59.0829234 Z"
                              id="Mouth"
                              fill-rule="nonzero"
                            ></path>
                            <path
                              d="M40,30.1754386 L40,44.9122807 C40,45.85537 39.539042,46.3157895 38.5912711,46.3157895 L37.1929825,46.3157895 C36.0302777,46.3157895 35.0877193,47.2583479 35.0877193,48.4210526 C35.0877193,49.5837574 36.0302777,50.5263158 37.1929825,50.5263158 L38.5912711,50.5263158 C41.8633505,50.5263158 44.2105263,48.1818819 44.2105263,44.9122807 L44.2105263,30.1754386 C44.2105263,29.0127339 43.2679679,28.0701754 42.1052632,28.0701754 C40.9425584,28.0701754 40,29.0127339 40,30.1754386 Z"
                              id="Nose"
                              fill-rule="nonzero"
                            ></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
                <h3 class="title">Photos identité</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter1">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" id="shootModel">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <!-- ------------------------------------------------------------------ -->

                  <svg
                    version="1.0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="40px"
                    height="40px"
                    viewBox="0 0 500.000000 500.000000"
                    preserveAspectRatio="xMidYMid meet"
                  >
                    <g
                      transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
                      fill="#ffffff"
                      id="shotmodsvg"
                      stroke="none"
                    >
                      <path
                        d="M3980 4914 c-135 -46 -533 -181 -885 -299 -761 -257 -1842 -622
				 -2404 -812 -223 -76 -418 -147 -435 -158 -61 -41 -59 -51 60 -402 l109 -318 5
				 -1432 5 -1433 28 -27 27 -28 2120 0 2120 0 27 28 28 27 0 1450 0 1450 -28 27
				 -27 28 -1792 5 -1792 5 230 77 c126 42 677 228 1224 413 547 185 1202 406
				 1454 491 300 100 467 161 482 175 46 43 42 62 -74 409 -61 179 -115 337 -122
				 351 -14 31 -59 59 -92 58 -12 0 -133 -38 -268 -85z m228 -196 c44 -120 134
				 -400 129 -404 -2 -2 -83 -31 -180 -63 l-176 -59 -306 146 c-167 81 -305 150
				 -305 153 0 6 785 277 807 278 6 1 20 -23 31 -51z m-810 -465 c166 -81 302
				 -149 302 -152 0 -3 -195 -71 -433 -151 l-433 -146 -309 151 -310 151 225 77
				 c339 117 634 215 645 216 6 1 146 -65 313 -146z m-1140 -388 c175 -87 297
				 -152 290 -156 -7 -4 -201 -70 -431 -148 l-418 -141 -305 147 c-167 81 -304
				 150 -304 154 0 6 850 298 860 295 3 -1 141 -69 308 -151z m-1144 -382 c169
				 -81 306 -150 306 -153 0 -6 -822 -282 -826 -277 -8 8 -155 449 -151 453 4 5
				 346 122 359 123 4 1 144 -65 312 -146z m149 -905 l-243 -243 -195 3 -195 3 0
				 239 0 240 437 0 438 0 -242 -242z m1209 2 l-241 -240 -463 0 -463 0 240 240
				 240 240 464 0 464 0 -241 -240z m1203 0 l-240 -240 -460 0 -460 0 240 240 240
				 240 460 0 460 0 -240 -240z m915 0 l0 -240 -437 0 -438 0 240 240 240 240 197
				 0 198 0 0 -240z m0 -1410 l0 -970 -1980 0 -1980 0 0 970 0 970 1980 0 1980 0
				 0 -970z"
                      />
                      <path
                        d="M1415 1576 c-48 -48 -44 -111 8 -150 l28 -21 1159 0 1159 0 28 21
				 c53 40 56 104 6 150 l-26 24 -1169 0 -1169 0 -24 -24z"
                      />
                      <path
                        d="M1424 912 c-51 -41 -57 -97 -15 -144 l29 -33 1172 0 1172 0 29 33
				 c42 47 36 103 -15 144 -20 16 -97 18 -1186 18 -1089 0 -1166 -2 -1186 -18z"
                      />
                    </g>
                  </svg>

                  <!-- -------------------------------------------------------------------- -->
                </span>
                <h3 class="title">Shooting model</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter2">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" id="thirdobj">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <svg
                    fill="#ffffff"
                    height="40px"
                    width="40px"
                    version="1.1"
                    id="thirdobjsvg"
                    viewBox="0 0 297 297"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M176.178,175.311H65.463c-5.581,0-10.102,4.523-10.102,10.102c0,5.578,4.521,10.103,10.102,10.103h110.715
					   c5.581,0,10.103-4.524,10.103-10.103C186.28,179.834,181.759,175.311,176.178,175.311z"
                      />
                      <path
                        d="M292.806,121.852c-2.637-1.896-6.021-2.414-9.103-1.389l-42.175,14.062c-0.943-12.177-7.996-22.858-18.465-28.601
					   c0.073-1.178,0.125-2.362,0.125-3.558c0-31.011-25.229-56.24-56.236-56.24c-16.826,0-31.938,7.438-42.253,19.188
					   C114.222,43.09,91.613,27.67,65.463,27.67C29.365,27.67,0,57.038,0,93.137c0,9.086,1.862,17.742,5.224,25.615
					   C1.827,124.319,0,130.714,0,137.318v96.188c0,19.754,16.069,35.823,35.825,35.823h169.992c18.811,0,34.274-14.58,35.704-33.033
					   l42.181,14.063c1.045,0.349,2.123,0.52,3.194,0.52c2.094,0,4.167-0.65,5.909-1.907c2.635-1.898,4.194-4.948,4.194-8.195v-110.73
					   C297,126.799,295.44,123.749,292.806,121.852z M166.952,66.329c19.867,0,36.032,16.165,36.032,36.037
					   c0,19.868-16.165,36.033-36.032,36.033c-19.868,0-36.032-16.165-36.032-36.033C130.92,82.494,147.084,66.329,166.952,66.329z
						M65.463,47.874c24.953,0,45.255,20.305,45.255,45.263s-20.302,45.263-45.255,45.263c-24.955,0-45.258-20.305-45.258-45.263
					   S40.508,47.874,65.463,47.874z M221.436,233.507c0,8.614-7.009,15.621-15.619,15.621H35.825c-8.613,0-15.62-7.007-15.62-15.621
					   V140.37c11.765,11.28,27.709,18.234,45.258,18.234c21.913,0,41.333-10.837,53.22-27.424c9.833,16.412,27.786,27.424,48.27,27.424
					   c22.166,0,41.373-12.898,50.528-31.577c2.463,2.799,3.956,6.439,3.956,10.291V233.507z M276.795,226.762l-35.155-11.723v-59.257
					   l35.155-11.718V226.762z"
                      />
                    </g>
                  </svg>
                </span>
                <h3 class="title">Shooting famille</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter3">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" id="fourthobj">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <svg
                    version="1.0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="40px"
                    height="40px"
                    viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet"
                  >
                    <g
                      transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                      fill="#ffffff"
                      stroke="none"
                      id="fourthobjsvg"
                    >
                      <path
                        d="M2365 5114 c-528 -54 -953 -216 -1353 -516 -119 -89 -339 -302 -437
				   -423 -368 -453 -575 -1035 -575 -1615 0 -580 207 -1162 575 -1615 98 -121 318
				   -334 437 -423 199 -149 445 -284 672 -367 130 -48 370 -108 521 -131 169 -26
				   542 -26 710 0 282 43 535 123 784 247 277 138 474 282 696 510 205 210 340
				   404 465 663 89 183 134 306 180 491 61 241 74 355 74 625 0 270 -13 384 -74
				   625 -48 193 -93 312 -189 510 -129 263 -280 471 -493 682 -396 393 -874 631
				   -1438 718 -101 15 -468 28 -555 19z m401 -365 c429 -41 842 -210 1166 -477 87
				   -71 287 -273 354 -356 461 -572 598 -1375 353 -2072 -67 -193 -192 -422 -325
				   -601 -72 -96 -283 -314 -382 -396 -327 -267 -737 -435 -1166 -476 -567 -55
				   -1156 124 -1584 483 -107 89 -316 306 -386 399 -303 407 -452 888 -433 1397
				   17 445 165 856 443 1227 72 95 271 302 376 389 430 359 1018 538 1584 483z"
                      />
                      <path
                        d="M2345 4629 c-124 -13 -312 -55 -438 -99 -146 -50 -267 -105 -267
				   -122 0 -7 -11 -240 -25 -518 -14 -278 -25 -509 -25 -514 0 -4 40 30 89 77 222
				   210 484 330 776 353 l90 7 518 271 c284 149 517 274 517 278 0 16 -269 139
				   -386 177 -264 87 -571 119 -849 90z"
                      />
                      <path
                        d="M1429 4304 c-143 -96 -239 -176 -364 -306 -322 -334 -511 -734 -566
				   -1201 -7 -63 -8 -102 -2 -108 13 -13 877 -567 881 -564 1 1 -5 21 -13 44 -34
				   98 -49 214 -49 386 -1 231 27 363 114 540 l40 80 25 589 c14 324 24 590 22
				   592 -2 2 -41 -22 -88 -52z"
                      />
                      <path
                        d="M3243 4047 c-254 -133 -459 -245 -457 -249 3 -4 14 -8 26 -8 33 0
				   220 -66 300 -106 171 -86 357 -241 458 -384 25 -34 54 -73 65 -86 11 -13 241
				   -163 510 -333 l490 -308 3 36 c11 116 -44 429 -109 618 -106 312 -281 587
				   -525 823 -93 90 -278 241 -294 239 -3 0 -213 -109 -467 -242z"
                      />
                      <path
                        d="M2395 3679 c-367 -53 -699 -298 -855 -632 -171 -365 -140 -778 85
				   -1122 50 -77 223 -250 300 -300 353 -231 782 -257 1149 -70 215 109 397 295
				   501 510 175 363 146 786 -77 1125 -55 83 -182 216 -268 280 -231 171 -548 250
				   -835 209z m205 -389 c17 -17 20 -33 20 -115 0 -82 -3 -98 -20 -115 -11 -11
				   -29 -20 -40 -20 -11 0 -29 9 -40 20 -17 17 -20 33 -20 115 0 82 3 98 20 115
				   11 11 29 20 40 20 11 0 29 -9 40 -20z m-356 -86 c20 -8 106 -155 106 -182 0
				   -28 -43 -56 -73 -48 -30 7 -117 136 -117 172 0 54 34 77 84 58z m706 -13 c5
				   -11 10 -31 10 -45 0 -36 -87 -165 -117 -172 -30 -8 -73 20 -73 48 0 24 74 156
				   98 176 24 19 70 15 82 -7z m-875 -281 c59 -40 75 -56 75 -75 0 -28 -32 -65
				   -56 -65 -20 0 -155 77 -171 98 -19 23 -16 69 5 81 35 21 73 11 147 -39z m1116
				   40 c19 -11 25 -43 13 -74 -7 -18 -154 -106 -177 -106 -25 0 -57 36 -57 65 0
				   19 16 35 73 74 73 50 110 61 148 41z m-1131 -350 c11 -11 20 -29 20 -40 0 -11
				   -9 -29 -20 -40 -17 -17 -33 -20 -115 -20 -82 0 -98 3 -115 20 -11 11 -20 29
				   -20 40 0 11 9 29 20 40 17 17 33 20 115 20 82 0 98 -3 115 -20z m1230 0 c11
				   -11 20 -29 20 -40 0 -11 -9 -29 -20 -40 -17 -17 -33 -20 -115 -20 -82 0 -98 3
				   -115 20 -11 11 -20 29 -20 40 0 11 9 29 20 40 17 17 33 20 115 20 82 0 98 -3
				   115 -20z m-1156 -272 c31 -44 21 -64 -59 -118 -74 -50 -109 -59 -146 -40 -20
				   11 -26 54 -10 79 13 21 153 100 178 101 12 0 29 -10 37 -22z m987 -23 c42 -25
				   80 -53 83 -61 12 -31 6 -63 -13 -74 -37 -19 -72 -10 -146 40 -80 54 -90 74
				   -59 118 22 32 48 28 135 -23z m-793 -171 c12 -8 22 -25 22 -36 0 -27 -86 -174
				   -106 -182 -31 -12 -63 -6 -74 13 -19 37 -10 72 40 146 54 80 74 90 118 59z
				   m582 -59 c50 -74 59 -109 40 -146 -11 -19 -43 -25 -74 -13 -20 8 -106 155
				   -106 182 0 25 35 52 67 52 17 0 35 -19 73 -75z m-310 -15 c17 -17 20 -33 20
				   -115 0 -82 -3 -98 -20 -115 -11 -11 -29 -20 -40 -20 -11 0 -29 9 -40 20 -17
				   17 -20 33 -20 115 0 82 3 98 20 115 11 11 29 20 40 20 11 0 29 -9 40 -20z"
                      />
                      <path
                        d="M3745 2983 c42 -107 70 -324 62 -483 -9 -185 -44 -325 -117 -475
				   l-40 -80 -25 -589 c-14 -324 -24 -591 -22 -592 6 -6 198 126 272 186 39 32
				   122 111 185 177 318 330 506 732 561 1196 9 82 9 101 -2 112 -8 7 -153 102
				   -324 210 -170 109 -366 234 -434 277 -78 50 -121 73 -116 61z"
                      />
                      <path
                        d="M480 2501 c0 -80 20 -250 41 -354 107 -517 399 -965 836 -1280 l52
				   -38 463 241 c255 133 465 244 467 246 2 2 -2 5 -10 7 -8 3 -50 14 -94 26 -290
				   80 -540 262 -734 536 -26 38 -179 138 -953 622 l-68 43 0 -49z"
                      />
                      <path
                        d="M3464 1689 c-212 -216 -506 -352 -810 -375 l-89 -7 -512 -271 c-282
				   -149 -513 -274 -513 -278 0 -4 60 -37 133 -73 477 -234 1036 -269 1540 -95
				   128 44 267 105 267 117 0 4 11 240 25 522 14 283 24 516 22 517 -2 2 -30 -24
				   -63 -57z"
                      />
                    </g>
                  </svg>
                </span>
                <h3 class="title">Shooting objet</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter4">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" id="fifthobj">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <svg
                    version="1.0"
                    width="40px"
                    height="40px"
                    viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet"
                  >
                    <g
                      transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                      fill="#ffffff"
                      stroke="none"
                      id="fifthobjsvg"
                    >
                      <path
                        d="M1578 4939 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 31 -16
        59 -20 130 -20 l90 0 0 -150 0 -150 450 0 450 0 0 150 0 150 90 0 c71 0 99 4
        130 20 45 23 80 80 80 130 0 50 -35 107 -80 130 -38 19 -57 20 -672 20 -610
        -1 -634 -2 -670 -21z"
                      />
                      <path
                        d="M3945 4346 c-83 -20 -146 -56 -211 -120 -65 -66 -105 -137 -123 -224
        -15 -74 -15 -1310 0 -1384 36 -172 175 -311 347 -347 35 -7 222 -11 548 -11
        476 0 496 1 534 20 26 13 47 34 60 60 20 38 20 57 20 970 0 913 0 932 -20 970
        -13 26 -34 47 -60 60 -38 19 -57 20 -542 19 -360 0 -517 -4 -553 -13z"
                      />
                      <path
                        d="M78 4039 c-23 -12 -46 -35 -58 -59 -19 -38 -20 -58 -20 -670 0 -612
        1 -632 20 -670 23 -45 80 -80 130 -80 50 0 107 35 130 80 16 31 20 59 20 130
        l0 90 150 0 150 0 0 450 0 450 -150 0 -150 0 0 90 c0 112 -20 159 -80 190 -49
        25 -94 25 -142 -1z"
                      />
                      <path
                        d="M1245 4046 c-84 -21 -147 -57 -211 -121 -65 -65 -105 -136 -123 -223
        -15 -72 -15 -713 0 -784 37 -172 175 -310 347 -347 34 -7 191 -11 447 -11
        l395 0 0 -313 0 -314 -52 -24 c-108 -50 -207 -179 -238 -308 -15 -64 -8 -165
        16 -235 l17 -48 -456 -457 c-250 -251 -462 -470 -471 -488 -61 -122 75 -258
        197 -197 18 9 237 221 488 471 389 388 459 454 478 448 21 -6 21 -7 21 -411 0
        -386 1 -407 20 -444 23 -45 80 -80 130 -80 50 0 107 35 130 80 19 37 20 58 20
        444 0 404 0 405 21 411 19 6 89 -60 478 -448 251 -250 470 -462 488 -471 122
        -61 258 75 197 197 -9 18 -221 237 -471 488 l-456 457 17 48 c24 70 31 171 16
        235 -31 129 -130 258 -238 308 l-52 24 0 314 0 313 453 0 452 0 0 750 0 750
        -1005 -1 c-769 -1 -1017 -4 -1055 -13z"
                      />
                    </g>
                  </svg>
                </span>
                <h3 class="title">shooting événementiel</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter5">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="content">
                <span class="icon">
                  <i class="fas fa-chart-pie"></i>
                </span>
                <h3 class="title">Extérieur</h3>
                <p class="description">
                  Mauris volutpat urna tristique finibus iaculis. Morbi
                  facilisis, justo eu vulputate elementum, est augue tincidunt
                  ante, sed efficitur leo ligula vel velit.
                </p>
                <p class="learn-more" id="consulter6">Consulter</p>
              </div>
              <span class="circle-before"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / END SECTION SERVICES -->

    <!-- -------------------------------------------------------------------- -->

    <!-- ------------------------------------------------------------------ -->
    <div id="overlay">
      <div id="loading">
        <svg
          role="img"
          aria-label="Mouth and eyes come from 9:00 and rotate clockwise into position, right eye blinks, then all parts rotate and merge into 3:00"
          class="smiley"
          viewBox="0 0 128 128"
          width="128px"
          height="128px"
        >
          <defs>
            <clipPath id="smiley-eyes">
              <circle
                class="smiley__eye1"
                cx="64"
                cy="64"
                r="8"
                transform="rotate(-40,64,64) translate(0,-56)"
              />
              <circle
                class="smiley__eye2"
                cx="64"
                cy="64"
                r="8"
                transform="rotate(40,64,64) translate(0,-56)"
              />
            </clipPath>
            <linearGradient id="smiley-grad" x1="0" y1="0" x2="0" y2="1">
              <stop offset="0%" stop-color="#000" />
              <stop offset="100%" stop-color="#fff" />
            </linearGradient>
            <mask id="smiley-mask">
              <rect
                x="0"
                y="0"
                width="128"
                height="128"
                fill="url(#smiley-grad)"
              />
            </mask>
          </defs>
          <g
            stroke-linecap="round"
            stroke-width="12"
            stroke-dasharray="175.93 351.86"
          >
            <g>
              <rect
                fill="hsl(193,90%,50%)"
                width="128"
                height="64"
                clip-path="url(#smiley-eyes)"
              />
              <g fill="none" stroke="hsl(193,90%,50%)">
                <circle
                  class="smiley__mouth1"
                  cx="64"
                  cy="64"
                  r="56"
                  transform="rotate(180,64,64)"
                />
                <circle
                  class="smiley__mouth2"
                  cx="64"
                  cy="64"
                  r="56"
                  transform="rotate(0,64,64)"
                />
              </g>
            </g>
            <g mask="url(#smiley-mask)">
              <rect
                fill="hsl(223,90%,50%)"
                width="128"
                height="64"
                clip-path="url(#smiley-eyes)"
              />
              <g fill="none" stroke="hsl(223,90%,50%)">
                <circle
                  class="smiley__mouth1"
                  cx="64"
                  cy="64"
                  r="56"
                  transform="rotate(180,64,64)"
                />
                <circle
                  class="smiley__mouth2"
                  cx="64"
                  cy="64"
                  r="56"
                  transform="rotate(0,64,64)"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="container55" id="contact">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACTEZ</span>
              <span>NOUS</span>
            </div>
            <div class="seldiv">
              <label for="type" class="seltype">Type :</label>
              <select name="type" id="dropdown">
                <option value="photoid" class="optionaa">
                  Photos identité
                </option>
                <option value="shootmod" class="optionaa">
                  Shooting model
                </option>
                <option value="shootfam" class="optionaa">
                  Shooting famille
                </option>
                <option value="shootobj" class="optionaa">
                  Shooting objet
                </option>
                <option value="shooteve" class="optionaa">
                  shooting événementiel
                </option>
                <option value="ext" class="optionaa">Extérieur</option>
              </select>
              <p class="error" id="err7">error</p>
            </div>
            <div class="app-contact">CONTACT INFO : +212 625-523293</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <!-- <div class="app-form-group">
                <input class="app-form-control" placeholder="FULL NAME" />
              </div> -->
              <div class="app-form-group">
                <input
                  class="app-form-control"
                  id="phone"
                  placeholder="PHONE NUMBER"
                />
              </div>
              <p class="error" id="err1">error</p>
              <div class="app-form-group">
                <input
                  class="app-form-control"
                  id="addr"
                  placeholder="HOME ADDRESS"
                />
              </div>
              <p class="error" id="err2">error</p>
              <div class="app-form-group">
                <input
                  class="app-form-control"
                  id="zip"
                  placeholder="ZIP CODE"
                />
              </div>
              <p class="error" id="err3">error</p>
              <div class="app-form-group message">
                <input
                  class="app-form-control"
                  id="msg"
                  placeholder="MESSAGE"
                />
              </div>
              <p class="error" id="err4">error</p>
              <div class="app-form-group buttons">
                <button id="cancel" class="app-form-button">CANCEL</button>
                <button class="app-form-button" id="sendorder">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
